.content {
    width: 1080px;
    float: left;
}

.content .tit {
    /*background: url(/img/tit_bg.png) no-repeat top left;*/
    margin-top:34px;
}

.content .tit h3 {
    position: relative;
    color:#000;
    font-size:32px;
    font-family: "Nanum Myeongjo";
    font-weight: 400;
    padding-top:13px;
    margin:0;
    margin-bottom:18px;
    letter-spacing: -1px;

}
.content .tit h3 span {
    font-size:11px; 
    color :#777;
    border:1px solid #cecece;
    background-color:#e6e6e6;
    position: absolute;
    bottom:0; right:0;
    padding:3px 10px;
    font-family: "Dotum";
    font-weight:normal;
}
.content .tit h3 span i {
    font-size:14px;
    vertical-align: middle;
}
.content .tit .navi {
    background-color: #fff;
    padding:11px 15px;
    overflow: hidden;
   border-top: 2px solid #666;
   border-bottom: 1px solid #ccc;
}
.content .tit .navi .float-right {
    color:#515151;
}
.content .tit .navi .float-right strong {
    color:#333;
}


.section{
    color:#333;
    margin-bottom:30px;
    line-height: 20px; 
   font-size:14px;
    letter-spacing: -0.8px;
    overflow: hidden;
}

.section p {
    font-family: '맑은 고딕','나눔고딕','돋움','굴림','Apple SD Gothic Neo',sans-serif;
    line-height: 27px
}


.preserv .preserv_info {
	border:1px solid #ddd; 
	border-radius: 3px;
	padding:20px 30px 20px 20px;
}

.section p.top_text2 {font-size: 17px;font-family: 'Nanum Gothic';color: #696969;margin-top: 25px; line-height:28px; font-weight:600;}
.sub_box1 {padding-top:10px;}
.sub_box1 ul.list1 {margin-left:-15px; margin-bottom:45px;}
.sub_box1 ul.list1 li {float:left; margin-left:15px; transition:0.3s;}
.sub_box1 ul.list1 li .img {height:174px; width:150px;}
.sub_box1 ul.list1 li p {text-align:center; font-size:13px; color:#fff; font-weight:600; padding-top:12px; padding-bottom:14px; line-height:18px;}
.sub_box1 ul.list1 li.b1  {background:#cbc1bc;}
.sub_box1 ul.list1 li.b2  {background:#b1acbc;}
.sub_box1 ul.list1 li.b3  {background:#ba9696;}
.sub_box1 ul.list1 li.b4  {background:#abc7d3;}
.sub_box1 ul.list1 li.b5  {background:#c3cd9c;}
.sub_box1 ul.list1 li.b1:hover {background:#b1a49f;}
.sub_box1 ul.list1 li.b2:hover {background:#908b9f;}
.sub_box1 ul.list1 li.b3:hover {background:#9d7272;}
.sub_box1 ul.list1 li.b4:hover {background:#8cafc0;}
.sub_box1 ul.list1 li.b5:hover {background:#a8b478;}
.sub_box1 ul.list1:after {clear:both; display:block; content:"";}




.gallery_04 {
	overflow: hidden;
}
.gallery_04 dl {
	background-color: #fff;
	width: 273px; 
	height:405px;
	position: relative;
	float: left;
	margin-right:20px;
	border:1px solid #e5e6e6;
	padding:5px;
}
.gallery_04 dl:last-child {margin-right:0;}
.gallery_04 dl dt {
	width: 273px; height:273px;
}
.gallery_04 dl dt img {
    
	width: 260px;
	height:250px;
}
.gallery_04 dl dd {
	color:#4b4a4a;
	line-height: 16px;
	padding:15px 15px 0 15px;

}
.gallery_04 dl dd.title {
	font-size:15px;
	font-weight: bold;
	
	font-family: '맑은 고딕','Malgun Gothic',나눔고딕,돋움,Dotum,굴림,Gulim,'Apple SD Gothic Neo',sans-serif;
}
.gallery_04 dl dd.info {
	font-size:12px;
	line-height: 20px
}


.data_view {margin:0;}
 .view_01 {
 	/*border-top:3px solid #4c4c4c;*/
 	/*border-bottom:3px solid #4c4c4c;*/
 	background-color: #f7f7f7;
 	padding:34px 13px;
 	overflow: hidden;
 }
 .view_01 .view_img {
 	float: left;
 	border-bottom:1px solid #a8a8a8;
 	width: 294px;
 	height: 283px;
 	text-align: center;
 	vertical-align: middle;
	position:relative;
	margin-left: 34px;
 }

 .view_01 .view_img_type02 {
 	width: 228px;
	margin-left: 13px;
	margin-right: 25px;
 }


 .view_img img{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	max-width: 294px;
    max-height: 355px;
    
}

.view_img .img img{border:1px solid #dedede;}



.view_01 .view_info {
    float: right;
    width: 456px;
   margin-right: 34px;
}
.view_01 .view_info .info_tit {
    color:#000;
    font-size:21px;
    font-family: '맑은 고딕','Malgun Gothic',나눔고딕,돋움,Dotum,굴림,Gulim,'Apple SD Gothic Neo',sans-serif;
    /*margin-bottom:30px;*/
   font-weight:bold;
}
.view_01 .view_info dl {
    border-top:1px solid #a8a8a8;
    /*border-bottom:1px solid #a8a8a8;*/
    overflow: hidden;
    padding:24px 24px 0px 0px;
    height: 1200px;
    
}
.view_01 .view_info dt {
    float: left;
    width: 77px;
    color:#999;
    font-family: '맑은 고딕','Malgun Gothic',나눔고딕,돋움,Dotum,굴림,Gulim,'Apple SD Gothic Neo',sans-serif;
    font-size:14px;
    letter-spacing: 0px;
    clear: both;
    margin-bottom:18px;
   font-weight:600;
}
.view_01 .view_info dd {
    float: left;
    color:#000 ;
    font-size:14px;
    letter-spacing: -0.5px;
}

.view_01 .view_info .file_down {
    float: none;
}
.view_01 .view_info dt.file_down {
    width: auto;
    margin:auto;
}
.view_01 .view_info dd.file_down {
    padding-bottom:18px;
}
