@charset "utf-8";
div{
  display:block;
}

a:link { color: black; text-decoration: none; }
a:visited { color: black; text-decoration: none; }
a:hover { color: gray; text-decoration: NONE; }





/*** Main Style ***/
.main_wrap{min-width:990px; padding:0 0 35px;}

/* Main Visual */
.main_wrap .main_vsa{position:relative; min-width:990px; margin:0 0 30px;}
.main_wrap .main_vsa .lst>li{overflow:hidden; width:2970px; height:501px;}
.main_wrap .main_vsa .lst>li>ul{position:absolute; top:0; left:50%; width:2970px; height:501px; margin-left:-1485px;}
.main_wrap .main_vsa .lst>li>ul>li{float:left; position:relative; width:990px; height:501px; background:#fff;}
.main_wrap .main_vsa .lst>li>ul>li.n02{z-index:20;}
.main_wrap .main_vsa .lst>li>ul>li.n02{z-index:20;}
.main_wrap .main_vsa .lst>li.s01>ul>li.n01{background:url(../images/main/img_visual03.jpg) no-repeat 0 0;}
.main_wrap .main_vsa .lst>li.s01>ul>li.n02{background:url(../images/main/img_visual01.jpg) no-repeat 0 0;}
.main_wrap .main_vsa .lst>li.s01>ul>li.n03{background:url(../images/main/img_visual02.jpg) no-repeat 0 0;}
.main_wrap .main_vsa .lst>li.s02>ul>li.n01{background:url(../images/main/img_visual01.jpg) no-repeat 0 0;}
.main_wrap .main_vsa .lst>li.s02>ul>li.n02{background:url(../images/main/img_visual02.jpg) no-repeat 0 0;}
.main_wrap .main_vsa .lst>li.s02>ul>li.n03{background:url(../images/main/img_visual03.jpg) no-repeat 0 0;}
.main_wrap .main_vsa .lst>li.s03>ul>li.n01{background:url(../images/main/img_visual02.jpg) no-repeat 0 0;}
.main_wrap .main_vsa .lst>li.s03>ul>li.n02{background:url(../images/main/img_visual03.jpg) no-repeat 0 0;}
.main_wrap .main_vsa .lst>li.s03>ul>li.n03{background:url(../images/main/img_visual01.jpg) no-repeat 0 0;}
.main_wrap .main_vsa .bx-controls{position:absolute; top:0; left:50%; z-index:21; width:990px; height:1px; margin-left:-495px;}
.main_wrap .main_vsa .bx-controls a{position:absolute; top:206px; display:inline-block; overflow:hidden; width:49px; height:89px; background:url(../images/main/sp_main_vsa.png) no-repeat 0 0; line-height:999px; vertical-align:top;}
.main_wrap .main_vsa .bx-controls a.bx-prev{left:10px; background-color:rgba(0,0,0,.5);}
.main_wrap .main_vsa .bx-controls a.bx-next{right:10px; background-color:rgba(0,0,0,.5); background-position:100% 0;}
.main_wrap .main_vsa .bx-controls-auto a{top:460px; right:10px; width:30px; height:30px; background:rgba(0,0,0,.5);}
.main_wrap .main_vsa .bx-controls-auto a:after{content:''; display:inline-block; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.main_wrap .main_vsa .bx-controls-auto a.bx-stop:after{width:10px; height:10px; background:#fff;}
.main_wrap .main_vsa .bx-controls-auto a.bx-start:after{border:5px solid transparent; border-left-color:#fff; transform:translate(-17.5%, -50%);}
.main_wrap .main_vsa .bx-viewport:before,
.main_wrap .main_vsa .bx-viewport:after{content:''; display:block; position:absolute; top:0; left:50%; z-index:22; width:990px; height:501px; margin-left:1485px; background:rgba(255,255,255,.4);}
.main_wrap .main_vsa .bx-viewport:before{margin-left:-1485px;}
.main_wrap .main_vsa .bx-viewport:after{margin-left:495px;}
/* section01 */
.main_wrap .section01{overflow:hidden; width:990px; margin:0 auto;}
.main_wrap .section01 .col01{float:left; position:relative; width:440px; margin-right:80px;}
.main_wrap .section01 .col02{float:left; position:relative; width:470px; margin-right:27px;}
.main_wrap .section01 .col02{float:right; margin:0;}
.main_wrap .section01 h2{margin:0 0 15px; font-size:30px; font-family:"나눔고딕"}
.main_wrap .section01 .more{position:absolute; top:3px; right:0; font-size:20px;}
.main_wrap .section01 .col02 .bx {height:300px; padding:30px 0 0 30px; background:#edf2e2; line-height:18px;}
.main_wrap .section01 .col02 .bx p{line-height:20px;}
.main_wrap .section01 .col02 .lst{margin:0 0;}
.main_wrap .section01 .col02 .lst li{padding:0 0 22px 8px; font-size:18px; line-height:18px;}
.main_wrap .section01 .col02 .lst li .date{ float:right; color:rgb(90, 90, 90); margin-right:20px;}

/*
.main_banner{width:990px;}
.main_banner ul{ overflow:hidden; margin-top:250px; height:45px;}
.main_banner ul li{ float:left; margin-right:2px;}
.main_banner .no{float:right; margin:0;}*/
