#container .cont_wrap{float:left; width:769px; margin-left:-1px; padding:0 0 50px; border-left:1px solid #ddd;}



#join_title{
    right:-150px; position: relative; font-size:30px ;
}


.join{ right:-150px;margin:0 0 30px 0;position:relative; overflow:hidden; width:720px; border:1px solid #ddd; background:#fbfbfb;}
.join .title{margin:20px 25px 20px 25px;border-bottom:1px solid #ddd; width:670px;}
.join .s_title{margin:0px 5px 10px 25px; font-size:14px; font-weight:bold;}
.join .txtbox1{margin:5px 15px 25px 25px;width:670px; }
.join .agree{margin:10px 25px 30px 25px;}
.join .agree_txt{padding:0 50px 0 0;color:#2059ab;}
.join .agree_txt2{padding:0 50px 0px 30px;vertical-align:middle;}
.join .btn{margin:25px 0px; text-align:center }
.join .btn span{margin:0 10px;}
.join .notice{margin:15px;background:#eeefef;padding:15px;}
.join .notice .red{color:#d50242; font-weight:bold;}
.join .notice .blue{color:#2e61ab;font-weight:bold;}


.tar{text-align:right !important;}
.tac{text-align:center !important;}

